.roomWrapper a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    color: white;
    text-decoration: none;
}

.roomWrapper a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.selected {
    background: rgba(50, 153, 93, 0.2);
}

.roomWrapper a span {
    display: inline-block;
}
